.card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    .card{
        cursor: pointer;
        background-color: $backgroung-color;
        margin:10px 10px;
        padding: 10px;
        border-radius: 10px;
        border: solid rgb(38, 35, 51) 2px;
        border-color:rgb(38, 35, 51) ;
        position: relative;
        width: 350px;
        min-width: 200px;
        p{
            padding: 10px 0;
        }
        .name{
            font-size: 25px;
            font-weight: bold;
        }
        .date{
            opacity: 0.6;
        }
        .language{
            opacity: 0.08;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        &:hover{
            border-color: #35c2df;
        }
    }
}