
body{
    background-color: $backgroung-color;
    width: 100%;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 280px 60px 1fr; 

    .bloc-top{
        display: flex;
        justify-content: space-between;
        grid-column-start: 2;
        grid-row-start: 1;
        margin-top: 20px;
        width: 80vw;
        div{
            div{
                display: flex;
                align-items: center;
            }
        }
        .image-and-navi{
            width: 100%;
            height: 100%;
            min-width: fit-content;
                max-width: 300px;
            .logo-container{
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 3px solid #9154f8;
                border-left: 3px solid #9154f8;
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0;
                background-color: $profile-back-color;
                // min-width: fit-content;
            height: 100%;

                
                .logo-vincent{

                    width: 150px;
                    transform: rotate(-10deg);
                    animation: 10s ease-in-out infinite pivot;
                    margin: 15px 10px;
                }
            }

        }
    }
    @keyframes pivot {
        0%{
            transform: rotate(-10deg);
        }
        50%{
            transform: rotate(10deg);
        }
        0%{
            transform: rotate(-10deg);
        }
    }

    .content-container{
        display: flex;
        flex-direction: column;
        color: white;
        font-family: $font-2;
        grid-column-start: 2;
        grid-row-start: 3;
        border-bottom: 3px solid #9154f8;
        border-right: 3px solid #9154f8;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        width:fit-content;
    }
    .content-container>div{
        background-color: $profile-back-color;
        padding: 10px 40px;
        border-radius: 10px;
        // margin: 10px 0px
        // margin-top: 20px;
    }
}