.about_me{
    .about_me_text{
        font-size: 28px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $backgroung-color;
        width: 100%;
        padding: 10px 20px;
        // border: 1px solid #9154f8;
        border-radius: 10px;
        div{
            p{
                padding-bottom: 20px;
            }
        }
    }
    .skills{
        font-size: 28px;
        font-weight: bold;
        margin-top: 10px;
        background-color: $backgroung-color;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .skills-desc{
        // display: grid;
        display: flex;
        flex-wrap: wrap;

        // // grid-template-columns: 33% 33% 33%;
        // grid-template-columns: repeat(auto-fill, 300px);

        .skill-content{
            width: 30%;
            max-width: 700px;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            // width: 300px;
            transition: all 0.5s ease;
            align-items: center;
            padding: 15px 20px;
            .image_skill{
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
            }
            p{
                font-size: 24px;
                padding: 10px;
                
            }
            .skills-show-content{
                // width: 100px;
                line-height: 19px;
                font-size: 15px;
                opacity: 0.8;
            }
        }
    } 
}
.hobbies{
    p{
        font-size: 28px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #272333;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
    }
}

.about-intro{
    line-height: 25px;
    padding-top: 20px;
    max-width:750px;
    margin-left: 15px;
    p{
        font-weight: 200;
        opacity: 0.7;
        font-size: 17px;
        padding-bottom: 20px;
    }
}
.content-hobbies{
    display: flex;
    flex-wrap: wrap;
}

.content-hobbies>div{
    display: flex;
    background-color: #272333;
    align-items: center;
    border-radius: 30px;
    margin: 30px;
    flex-direction: column;
    width: 300px;
    min-width: 200px;
}
.content-hobbies>div>div:nth-child(2)>p{
    font-weight: bold;
    font-size: 17px;
    padding: 30px;
    padding-top: 50px;
    opacity: 0.8;
}
.content-hobbies>div>div>img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: solid #00C5E3 1px;
    border-radius: 5px;
    margin-top: 30px;
}


@media (max-width: 950) {
    .skills-desc{
        display: grid;
        // grid-template-columns: 33% 33% 33%;
        grid-template-columns: repeat(auto-fill, 300px);

        .skill-content{
            min-width: 300px;
            display: flex;
            flex-direction: column;
            // width: 300px;
            transition: all 0.5s ease;
            align-items: center;
            padding: 10px 15px;
            .skills-show-content{
                // width: 100px;
                line-height: 19px;
                font-size: 15px;
                opacity: 0.8;
            }
        }
    }
}