.profile-container{
    font-family:$font-2;
    background-color: $profile-back-color;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    // color: white;
    justify-content: space-around;
    text-align: center;
    min-width: max-content;
    width: 650px;
    margin-left: 10px;
    max-width: 1400px;
    justify-self: right;
    border-bottom: 3px solid #9154f8;
    border-right: 3px solid #9154f8;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    .image-container{
        display: flex;
        flex-direction: column;
        img{
            width: 170px;
            height: 170px;
            object-fit: cover;
            border-radius: 20px;
        }
        .name{
            p{
                font-size: 40px;
            }
            span{
                font-weight: bold;
            }
        }
    }
    
    .work{
        background-color: $backgroung-color;
        border-radius: 10px;
        color: white;
        padding: 7px;
        width: fit-content;
        font-size: 23px;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        display: flex;
        background-color: $backgroung-color;
        padding: 7px;
        border-radius: 10px;
        a{
            color: white;
        }
        *{
            padding: 9px 0;
        }
    }
    
    .profil-infos{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }
    .profil-contact{
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        .socials{
            display: flex;
            background-color: $backgroung-color;
            padding: 7px;
            border-radius: 10px;
            a{
                color: white;
                font-size: 20px;
                margin: 5px;
                // padding-bottom: 5px;
                // border-bottom: white solid 1px;
                transition:transform 0.2s ease;
            }
            a:hover{
                transform: scale(1.1);
            }
        }
        .cv{
            background-color: #9154f8;
            border-radius: 10px;
            padding: 10px;
            transition:transform 0.2s ease;
            a{
                color: white;
                font-size: 22px;
            }
        }
        .cv:hover{
            
            transform: scale(1.1);
        }
    }
}
