.titre-resume{
    p:nth-child(1){
        font-size: 28px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #272333;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
    }
}

.education-parcour{
    display: flex;
    flex-direction: column;
}
.education-title{
    display: flex;
}
.education-title>div>img{
    width: 50px;
    filter: brightness(0) invert(1);
}
.education-title>div>p{
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #272333;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}
.education-contents>div{
    margin-bottom: 20px;
    width: 400px;
    line-height: 25px;
}
.education-content>div:nth-child(1)>p{
    font-weight: bold;
    font-size: 19px;
}
.education-content>div:nth-child(2)>p{
    opacity: 0.4;
    font-size: 15px;
}
.education-content>div:nth-child(3)>p{
    opacity: 0.8;
    font-size: 17px;
}
.education-contents{
    position: relative;
}
.education-content{
    padding-left: 30px;
}
.cercle-bleu{
    border-radius: 50%;
    background-color:#00C5E3;
    width: 10px;
    height: 10px;
}
.trait{
    height: 350px;
    width: 1px;
    margin-left: 5px;
    background-color: rgb(126, 126, 126);
}
.all-circle{
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    height: 350px;
}
.barre-parcour{
    top: 1px;
    left: 1px;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.skills>div:nth-child(2){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
}

.skills>div:nth-child(2)>div>p{
    font-size: 16px;
    /* padding-left: 10px; */
    padding-bottom: 20px;
    padding-top: 10px;
    line-height: 25px;
    opacity: 0.8;
    width: 600px;
}
.skills-desc>div{
    background-color: $backgroung-color;
    border-radius: 30px;
    margin: 10px;
}
